ul li {
  color: red;
}

/* definisco una className e la referenzio con il "."*/
.immagina-arrotondata {
  height: 300px;
  border-radius: 100%;
}

/*se devo referenziare un oggetto con un certo id uso "#*/
/* #box {
  height: 300px;
  width: 300px;
  background-color: brown;
} */

.box {
  height: 300px;
  width: 300px;
  background-color: brown;
}

/*classe dinamica*/
.rounded {
  border-radius: 30%;
}
.rotated {
  rotate: 30deg;
  background-color: chartreuse;
}
